.idea/
__pycache__/
models/
base-model/
output/
dataset/*
!dataset/test.wav
test.py
/metrics/bert-base-chinese/config.json
/match_video_eeg/eeg_feat_extractor.py
/match_video_eeg/eeg_video_match.ipynb
/metrics/bert-base-chinese/pytorch_model.bin
/match_video_eeg/repeat_exp1.py
/metrics/bert-base-chinese/tokenizer.json
/metrics/bert-base-chinese/tokenizer_config.json
/try.py
/match_video_eeg/util_functions.py
/metrics/bert-base-chinese/vocab.txt
